/* fontawesome */
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css';


:root{
    --bg-dark:rgba(0,0,0,0.75);
    --bg-light:rgba(255,255,255,0.75);
    --bg-snow:rgba(255,255,255,1);
    --txt-dark:rgba(0,0,0,0.65);
    --txt-light:rgba(255,255,255,0.75);
    --txt-snow:rgba(255,255,255,1);
    --thm:rgba(245, 197, 125,1);
}

*{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}


a:hover{
    cursor: pointer;
}

.bg-dark{
    background-color:var(--bg-dark) !important;
}

.bg-light{
    background-color: var(--bg-light) !important;
}

.bg-snow{
    background-color: var(--bg-snow) !important;
}

.txt-dark{
    color:var(--txt-dark) !important;
}

.txt-light{
    color:var(--txt-light) !important;
}

.txt-snow{
    color:var(--txt) !important;
}

.thm{
    color:var(--thm) !important;
}

/* for main register & login */
#register-main,#login-main{
    height: 100vh;
    position: relative;
    padding: 0;
}

/* input in login register */
#register-main .form-group, #login-main .form-group{
    position: relative;
}

#register-main i,#login-main i{
    position: absolute;
    top:60%;
    right:10px;
}

i.error{
    transform: translateY(-90%);
}

/* news-box */

#news{
    box-shadow: 0 0 1px var(--bg-dark);
    position: relative;
    height:200px;
    border-radius: 5px !important;
}

#news img{
    width:100%;
    height:100%;
    border-radius: 5px !important;
}

#news-img{
    width:100%;
    height:100%;
}

#today-news #news{
    height:250px;
}

#news .news-layer{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.45);
    border-radius: 5px !important;
}

#news:hover{
    box-shadow:0 0 10px var(--bg-dark);
}

/* news title & location */
.news-title{
    color:var(--txt-snow);
    font-size: 17px;
    font-weight: bold;
    line-height: 1.3;
    
}


#news-location,.news-location{
    color:var(--thm);
    font-size: 15px;
    font-weight: bold;
}

#detail-news{
    height:auto !important;
}

#detail-image{
    width:100%;
    height:400px;
    position: relative;
}

#detail-image img{
    width:100%;
    height:100%;
}

#detail-image #detail-layer{
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    background-color: rgba(0,0,0,0.25);
}

#detail-content p{
    list-style: 1.5 !important;
    font-size: 21px !important;
    letter-spacing:0.9px;
}


/* comment */

#comment{
    position: relative;
}

#comment-control{
    position: absolute;
    top:10px;
    right:20px;
}

#comment #name,#comment #date{
    font-size: 13px;
}

#comment #comment-content *{
    font-size: 15px;
}

#comment:hover{
    cursor: pointer;
}

/* navbar */
.navbar:hover{
    cursor: pointer;
}


/* for width */
.w-15{
    width:15% !important;
}

.w-85{
    width:85% !important;
}

/* for box-shadow gold */
.shadow-thm{
    box-shadow:0 0 4px var(--thm);
}


/* for admin */
#admin-main{
    margin-left:15%;
}

/* for error */
#error{
    font-size: 13px;
    font-weight: bold;
}

/* in filter page  */
#filter-news{
    box-shadow: 0 0 3px var(--bg-dark) !important;
    transition: 0.5s all;
} 

#filter-news:hover{
    box-shadow: 0 0 5px var(--bg-dark) !important;
}

#filter-news #image{
    position: relative;
}

#filter-news  #image img{
    width:100%;
    height:100%;
}

#filter-news #image #layer{
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    background-color: rgba(0,0,0,0.55);
}

#filter-news #title{
    font-weight: bold;
    font-size:17px;
    color:var(--txt-snow);
}

#filter-news #details{
    font-size: 20px  !important;
}

#filter-news #location{
    font-weight: bold;
    color:var(--thm);
}

#status{
    font-size: 20px !important;
    font-weight: bold;
}

#success{
    font-size:18px;
    font-weight: bold;
}

.btn-thm{
    background-color: var(--thm);
}

#welcome{
    width:90% !important;
    border-radius: 8px;
}

#box{
    border-radius: 8px;
}

#welcome , #box{
    box-shadow: -4px 4px 2px var(--thm);
    transition: 0.5s all;
}

#welcome:hover , #box:hover{
    box-shadow: -6px 6px 3px var(--thm);
    margin-left:1px;
    margin-bottom: 1px;
    cursor: pointer;
}

#chart-wrapper{
   height:500px !important;
   max-height:600px;
}

#admin-chart{
    height:450px;
    max-height:450px;
}

#year-btn{
    box-shadow:0 0 3px rgba(0, 0, 0, 0.75);
    border-radius: 3px;
    border:none;
    color: var(--txt-dark);
}